[submodule "ECommons"]
	path = ECommons
	url = https://github.com/ffxiv-tc-port/ECommons.git
[submodule "PunishLib"]
	path = PunishLib
	url = https://github.com/ffxiv-tc-port/PunishLib.git
[submodule "ClickLib"]
	path = ClickLib
	url = https://github.com/ffxiv-tc-port/ClickLib.git
[submodule "OtterGui"]
	path = OtterGui
	url = https://github.com/ffxiv-tc-port/OtterGui.git
[submodule "raphael-rs"]
	path = raphael-rs
	url = https://github.com/Taurenkey/raphael-rs.git
