[submodule "PunishLib"]
	path = PunishLib
	url = https://github.com/MeowZWR/PunishLib.git
[submodule "OtterGui"]
	path = OtterGui
	url = https://github.com/MeowZWR/OtterGui
	branch = Artisan
[submodule "raphael-rs"]
	path = raphael-rs
	url = https://github.com/MeowZWR/raphael-rs
	branch = upstream-preview
